
<nav class="navbar navbar-dark bg-danger navbar-expand-sm">
<div class="container">
    <a class="navbar-brand">Preparation</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="navbar-item">
                <a class="nav-link" routerLink="/products">Products</a>
            </li>
            <li class="navbar-item">
                <a class="nav-link" routerLink="/product">Product</a>
            </li>
        </ul>

    </div>
</div>
</nav>

<router-outlet></router-outlet>
<h2 [class.text-red]="bool">App Parent Component</h2>

{{child}}

<hr>

{{fromChildEvent}}
<hr>
<hr>
<app-child [fromParent]="parentMessage"
(eventMessage)="reciveEventMessage($event)"></app-child>

<hr>
<app-forms></app-forms>
